*{
    font-family: Oswald;
}
body{
    width: 100%;
    height: 100%;

}
.babylaze-header{
    background-color: rgba(221, 252, 173, 1);
}
.logo{
    width: 15rem;
}
.navbar-elements{
    font-family: Oswald;
    font-size: 24px!important;
    font-weight: 400!important;
    line-height: 35.57px;
    text-align: center;
}
.sign-up{
    padding-left:3rem;
    padding-right:3rem;
}
.sign-up a{

    color: red;
}
.main-container{
    padding-bottom:5rem;
}
body{
    background: url("../img/recs-background.png") 0% 0%  no-repeat ;
    background-size: auto;
    height: 100%;
    width: 100%;
}
.header-text{
    padding: 3rem;
    justify-content: center;
    display: flex;
}
.oswald{
     font-family: Oswald;
}
.header-title{
    background-color: rgba(244, 239, 231, 1);
    border-radius: 10px;
    width: fit-content!important;
}
.header-title-text h1 {
    text-align: center;
    justify-content: center;
    display: flex;
}
.par1{
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 53.35px;
    text-align: left;
}
.paragraph2{
    padding: 0 3rem 3rem 3rem;
}
.par2{
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 53.35px;
    text-align: left;
}
.lets-get-started{
    padding: 1rem 3rem;
    border: 0px solid transparent;
    background-color: rgba(200, 224, 135, 1);
    border-radius: 30px;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 53.35px;
    text-align: center;
}
.lets-start-container{
    justify-content: center;
    display: flex;
    padding-bottom: 5rem;
}
.text{
    justify-content: center;
    display: flex;
}

.paragraph3{
    background-color: rgba(221, 252, 173, 0.7);
    padding-top: 3rem;
    justify-content: center;
    display: flex;
    border-radius: 20px;
}
.snacks-description{
    padding: 5rem 8rem !important;
}
.food-text{
    color: rgba(185, 67, 0, 1);
}
.food-body-text{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47.42px;
    text-align: center;
}
.food-2{
    padding-top: 5rem;

}
.food-2-chart-element{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47.42px;
    text-align: left;
}
.list-elem{
    font-family: Oswald;
    font-size: 32px;
    font-weight: 400;
    line-height: 47.42px;
    text-align: left;
}
